Fuentes/Ventas/Ventas.Web/Web References/ServicioSunat/Empresas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Empresas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1677/Empresas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1677/Empresas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1677/Empresas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ventas.BE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpresa_ConsultarEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEmpresa" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ConsultarEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ObtenerEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresa" />
  </wsdl:message>
  <wsdl:message name="IEmpresa_ObtenerEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresaResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpresa">
    <wsdl:operation name="ConsultarEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/ConsultarEmpresa" message="tns:IEmpresa_ConsultarEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/ConsultarEmpresaResponse" message="tns:IEmpresa_ConsultarEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresa/ObtenerEmpresa" message="tns:IEmpresa_ObtenerEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresa/ObtenerEmpresaResponse" message="tns:IEmpresa_ObtenerEmpresa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmpresa" type="tns:IEmpresa">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarEmpresa">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/ConsultarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpresa">
      <soap:operation soapAction="http://tempuri.org/IEmpresa/ObtenerEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Empresas">
    <wsdl:port name="BasicHttpBinding_IEmpresa" binding="tns:BasicHttpBinding_IEmpresa">
      <soap:address location="http://localhost:1677/Empresas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>