Fuentes/DSDClienteSunatGpo4/xml-resources/web-service-references/ServicioSunat/wsdl/localhost_1257/ServicioSunat.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reazliado Por Grupo 4 - Desarrollo de Sistemas Distribuidos - EPE</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="ConsultaRuc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ruc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaRucResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaRucResult" type="tns:Contribuyente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Contribuyente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ruc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FInscripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Condicion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sistema" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="obtenerTodos">
        <s:complexType />
      </s:element>
      <s:element name="obtenerTodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerTodosResult" type="tns:ArrayOfContribuyente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContribuyente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contribuyente" nillable="true" type="tns:Contribuyente" />
        </s:sequence>
      </s:complexType>
      <s:element name="buscarPorrazonSocial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="razons" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPorrazonSocialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarPorrazonSocialResult" type="tns:ArrayOfContribuyente" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaRucSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaRuc" />
  </wsdl:message>
  <wsdl:message name="ConsultaRucSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaRucResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerTodosSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerTodos" />
  </wsdl:message>
  <wsdl:message name="obtenerTodosSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerTodosResponse" />
  </wsdl:message>
  <wsdl:message name="buscarPorrazonSocialSoapIn">
    <wsdl:part name="parameters" element="tns:buscarPorrazonSocial" />
  </wsdl:message>
  <wsdl:message name="buscarPorrazonSocialSoapOut">
    <wsdl:part name="parameters" element="tns:buscarPorrazonSocialResponse" />
  </wsdl:message>
  <wsdl:portType name="Servicio_x0020_Web_x0020_Consulta_x0020_SUNATSoap">
    <wsdl:operation name="ConsultaRuc">
      <wsdl:input message="tns:ConsultaRucSoapIn" />
      <wsdl:output message="tns:ConsultaRucSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerTodos">
      <wsdl:input message="tns:obtenerTodosSoapIn" />
      <wsdl:output message="tns:obtenerTodosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarPorrazonSocial">
      <wsdl:input message="tns:buscarPorrazonSocialSoapIn" />
      <wsdl:output message="tns:buscarPorrazonSocialSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Servicio_x0020_Web_x0020_Consulta_x0020_SUNATSoap" type="tns:Servicio_x0020_Web_x0020_Consulta_x0020_SUNATSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaRuc">
      <soap:operation soapAction="http://localhost/ConsultaRuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerTodos">
      <soap:operation soapAction="http://localhost/obtenerTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPorrazonSocial">
      <soap:operation soapAction="http://localhost/buscarPorrazonSocial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Servicio_x0020_Web_x0020_Consulta_x0020_SUNATSoap12" type="tns:Servicio_x0020_Web_x0020_Consulta_x0020_SUNATSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaRuc">
      <soap12:operation soapAction="http://localhost/ConsultaRuc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerTodos">
      <soap12:operation soapAction="http://localhost/obtenerTodos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPorrazonSocial">
      <soap12:operation soapAction="http://localhost/buscarPorrazonSocial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio_x0020_Web_x0020_Consulta_x0020_SUNAT">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reazliado Por Grupo 4 - Desarrollo de Sistemas Distribuidos - EPE</wsdl:documentation>
    <wsdl:port name="Servicio_x0020_Web_x0020_Consulta_x0020_SUNATSoap" binding="tns:Servicio_x0020_Web_x0020_Consulta_x0020_SUNATSoap">
      <soap:address location="http://localhost:1257/ServicioSunat.asmx" />
    </wsdl:port>
    <wsdl:port name="Servicio_x0020_Web_x0020_Consulta_x0020_SUNATSoap12" binding="tns:Servicio_x0020_Web_x0020_Consulta_x0020_SUNATSoap12">
      <soap12:address location="http://localhost:1257/ServicioSunat.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>